body {
    font-family: 'Work Sans', sans-serif;
    color: white;
    background: linear-gradient(to right, #29292a, #171718);
    margin: 0;
    padding: 0;
}

.container {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-grow: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 4px 5px;
    box-sizing: border-box;
}

#branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    padding: 1px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    color: #dbdbdb;
    transition: color 1s ease;
}

#branding:hover {
    color: white;
}

h3 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
    color: #d7d7d7;
    font-size: 15px;
}

h6 {
    margin: 0;
    color: #d7d7d7;
    font-size: 17px;
    font-weight: 400;
}

.search {
    width: 50%;
    border: none;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(to right, #58575a, #525153);
    color: #dbdbdb;
    border-radius: 5px;
    padding: 4px 7px;
    box-sizing: border-box;
    outline: none;
}

.search::placeholder {
    color: #dbdbdb;
}

#disguise, #panic{
    font-family: 'Work Sans', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    background-color: #58575a;
    transition: background-color .2s ease;
}
#disguise:hover {
    background-color: #2ab35c;
}
#panic:hover {
    background-color: #ff1d5c;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    width: 70px;
    flex: 1;
}

.panels {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    user-select: none;
    cursor: pointer;
}
.panel:hover .material-symbols-rounded:not(.selected) {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48;
    background-color: #555455;
    color: white;
}
.panel:hover label:not(.selected) {
    color: white;
}

.material-symbols-rounded {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#dbdbdb;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease, font-variation-settings .2s ease;
    visibility: hidden;
}

.material-symbols-rounded.font-loaded {
    visibility: visible;
}

.material-symbols-rounded.selected {
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48;
    background-color: #555455;
    color: #41cf7c;
}

label {
    margin-top: 2px;
    font-size: 10px;
    cursor: pointer;
    color: #cdcdcd;
    transition: color .3s ease;
}
label.selected {
    color: white;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.popup {
    font-family: 'Work Sans', sans-serif;
    display: none;
    position: absolute;
    background-color: rgba(36, 35, 36);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    border: 1px solid #3b3b3b;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 1;
}

.animate-left {
    display: none;
    animation: slideInFromLeft 0.15s ease-in-out;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-1%);
      display: block;
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      display: block;
      opacity: 1;
    }
  }

#create-new {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
    border-radius: 25%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #2d8e4d;
    color: white;
    user-select: none;
    transition: background-color .3s ease color .3s ease;
}

#create-new:hover {
    background-color: #23a559;
    color: white
}

.animate-rotate {
    animation: animate-rotate .2s forwards;
    }

    @keyframes animate-rotate {
        0% {
        transform: rotate(0deg);
        border-radius: 40%;
        }
        80% {
        transform: rotate(55deg);
        }
        100% {
            border-radius: 50%;
            transform: rotate(45deg);
            background-color: #ffffff;
            color: rgb(0, 0, 0);
        }
    }

.animate-rotate-out {
        animation: animate-rotate-reversed .2s forwards;
    }
    @keyframes animate-rotate-reversed {
        0% {
          transform: rotate(45deg);
          border-radius: 35%;
        }
        80% {
          transform: rotate(-10deg);
        }
        100% {
          transform: rotate(0deg);
          border-radius: 25%;
        }
    }


#create-options {
    display: flex;
    flex-direction: column;
}

.create-img-container {
    width: 35px; /* Increased to accommodate padding */
    height: 35px; /* Increased to accommodate padding */
    border-radius: 50%;
    cursor: pointer;
    background-color: #313174;
    display: flex;
    justify-content: center;
    align-items: center;
}


.create-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
    cursor: pointer;
}
.create-option:hover {
    background-color: #363536;
}

.create-text {
    display: flex;
    flex-direction: column;
}

#profile-picture {
    width: 35px; 
    border-radius: 50%;
    user-select: none;
}

.content {
    border: 1px solid #414043;
    width: 100%;
    margin-right: 5px;
    border-radius: 6px;
    display: flex;
    box-shadow: 0 0 20px rgba(167, 167, 167, 0.098);
}

.left-content {
    flex: 1;
    box-sizing: border-box;
    border-right: 1px solid #414043;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(to top right, rgba(20, 20, 20, 0.865), rgba(26, 25, 26, 0.865));
    height: 100%;
    overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #414043;
    height: 35px;
}

h3 {
    margin: 0;
    color: #d1d2d3;
}
.chat-display {
    flex: 3;
    height: 100%;
    box-sizing: border-box;
    background-color: #1a1d21;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.background-image {
    width: 60%;
    z-index: 10;
}

#icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
    color: #9c9c9c;
}

.chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    padding-top: 5px;
    gap: 3px;
}

.chat {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    padding: 5px 8px;
    box-sizing: border-box;
    width: 96%;
    cursor: pointer;
}
.chat:hover{
    background-color: rgba(50, 49, 50, 0.822);
}

p {
    color: #d1d2d3;
    margin: 0;
    font-size: 12px;
}

.chat-icon {
    height: 100%;
    margin-right: 10px;
    user-select: none;
}

#icon2 {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.message-container {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    visibility: hidden;
}

.input {
    display: flex;
    align-items: center;
    background-color: #222529;
    border: 1px solid #575757;
    border-radius: 6px;
    width: 97%;
    margin-bottom: 5px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0px -5px 10px rgba(123, 123, 123, 0.05);
}

.message-input {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: #ddd;
    outline: none;
    flex-grow: 2;
    box-sizing: border-box;
    resize: none;
    max-height: 100%;
    padding-top: 10px;
}

#submit {
    height: 60%;
    margin-right: 10px;
    margin-left: 12px;
    cursor: pointer;
    fill: red;
}

#attatchment {
    font-variation-settings: 
    'fill' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
}


.message {
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 0;
    padding: 8px 15px;
    box-sizing: border-box;
    transition: background-color .1s ease;
  }
  
  .message:hover {
    background-color: #292727;
  }
  
  .message-contents {
    margin-left: 5px;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start;
  }
  
  .profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    user-select: none;
  }
  
  .name-date {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  
  .message-name {
    font-size: 10pt;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .message-date {
    margin-top: 2px;
    font-size: 12px;
    color: #888;
  }
  
  .message-text {
    max-width: 100%; /* Adjust as needed */
    word-wrap: break-word;
    font-size: 10pt;
    color: #c9c9c9;
    margin: 0;
  }

/* For WebKit browsers (Chrome, Safari) */
.element-with-overlay-scrollbar::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

.element-with-overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: #464646; /* Set the color of the thumb (the draggable part of the scrollbar) */
    border-radius: 6px; /* Add some border-radius for a rounded appearance */
}

.element-with-overlay-scrollbar::-webkit-scrollbar-track {
    background-color: #353535; /* Set the color of the track (the non-draggable part of the scrollbar) */
    border-radius: 6px; /* Add some border-radius for a rounded appearance */
    margin: 10px;
}

.element-with-overlay-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3d3d3d; /* Change thumb color on hover */
}

.element-with-overlay-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #303030; /* Set the color of the thumb when dragging */
}